.vertical-align-anything {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}
.toggleFullScreenButton {
  color: #018ED5;
}
.toggleFullScreenButton .fa {
  font-size: 2em;
}
body {
  color: #181828;
  font-family: "proxima nova", "open sans", helvetica, sans-serif;
}
body a,
body a:hover {
  text-decoration: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
nav {
  width: 90%;
  transform-style: preserve-3d;
}
nav img {
  float: left;
}
nav ul.left-tertiary-nav,
nav ul.right-tertiary-nav {
  font-weight: 600;
  position: relative;
  top: 50%;
  transform: translateY(50%);
  float: left;
  list-style-type: none;
}
nav ul.left-tertiary-nav li,
nav ul.right-tertiary-nav li {
  padding: 0.2em 0.5em;
  display: inline;
  margin-right: 1em;
}
nav ul.left-tertiary-nav .fa {
  color: rgba(24, 24, 40, 0.4);
  font-size: 1.3em;
}
nav ul.right-tertiary-nav {
  float: right;
  margin-left: 1em;
}
nav ul.right-tertiary-nav li {
  border-radius: 3px;
  border: 1px solid rgba(1, 142, 213, 0.3);
}
nav ul.right-tertiary-nav li:first-child {
  border: 0;
}
nav ul.right-tertiary-nav li:hover {
  background-color: #018ED5;
  color: white;
}
nav ul.right-tertiary-nav li a {
  width: 100%;
  height: 100%;
}
nav ul.right-tertiary-nav li a:hover {
  color: white;
}
header.main-header {
  margin: 0.6em 0;
  background-color: #55A003;
  size: 2em;
  color: white;
  padding: 1em 3em;
}
header.main-header span.header-breadcrumbs {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
header.main-header h1 {
  font-weight: 800;
  margin: 0.2em 0;
  color: white;
}
.main-content {
  margin-top: 1.8em;
}
.left-menu {
  background-color: #f2f2f2;
  padding: 1em 0;
}
.left-menu ul {
  list-style-type: none;
}
.left-menu ul li {
  cursor: pointer;
  font-weight: 600;
  size: 1em;
  padding-left: 2em;
  line-height: 2.2em;
}
.left-menu ul li:hover {
  background-color: #e5e5e5;
}
.left-menu ul li img {
  width: 15px;
  height: 15px;
  margin-right: 0.2em;
}
.left-menu hr {
  margin: 0.7em 0;
  border-top: 2px solid #dadada;
}
.image-wrapper figure {
  display: table;
  width: 1px;
}
.image-wrapper img,
.image-wrapper figcaption {
  display: table-row;
}
.video-playback {
  width: 100%;
  background-color: black;
  height: 40px;
  background-image: url('../images/video-playback.png');
  margin-bottom: 2em;
}
.auxiliary-panel .meta-details {
  transform-style: preserve-3d;
}
.auxiliary-panel .meta-details span.image-browser .fa {
  margin: 0 0.2em;
  font-size: 3em;
  color: #018ED5;
}
.auxiliary-panel .meta-details span.pagination {
  margin-left: 0.5em;
  position: relative;
  top: 50%;
  transform: translateY(50%);
  transform: translateY(-50%);
}
.auxiliary-panel figcaption {
  font-style: italic;
  margin: 0.2em 0;
}
.auxiliary-panel p {
  margin-top: 1.2em;
}
.auxiliary-panel button {
  position: absolute;
  right: 0;
  color: #018ED5;
}
.auxiliary-panel button .fa {
  font-size: 2em;
}
.auxiliary-panel img.smallerImage {
  width: 100%;
  height: 100%;
}
.auxiliary-panel img.largerImage {
  width: 100%;
  height: 100%;
}
.btn:hover {
  margin-top: 0;
}
.expanded-view button {
  position: fixed;
  top: 50%;
  right: 2em;
  color: #018ED5;
}
.expanded-view button .fa {
  font-size: 2em;
}
.lyrics-text a {
  color: #018ED5;
  font-weight: 700;
  border-bottom: 2px solid rgba(1, 142, 213, 0.3);
}
.lyrics-text a:hover {
  border-bottom: 2px solid #016ca2;
}
