@color-goodGreen: #55A003;
@color-text: #181828;
@color-text-light: #979799;
@black: rgba(0,0,0,1);
@color-flocab-blue: #018ED5;

@color-border: #E6E6E6;
@color-border-dark: #222222;
@color-border-light: #EEEEEE;
@header-font-color: white;
@left-menu-bg: #f2f2f2;

@proxima: "proxima nova", "open sans";
@proxima-bold: "proxima nova bold";
@proxima-black: "proxima nova black";

// my mixinz for cookinz
.subtle-text-shadow(@string: 1px 1px 2px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}
.vertical-align-anything {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}
.toggleFullScreenButton {
  color: @color-flocab-blue;
    .fa {
      font-size: 2em;
    }
}

body {
  color: @color-text;
  font-family: @proxima;
  a,a:hover {
    text-decoration: none;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
nav {
  width: 90%;
  transform-style: preserve-3d;
  img {
    float: left;
  }
  ul.left-tertiary-nav, ul.right-tertiary-nav {
    font-weight: 600;
    .vertical-align-anything;

    float: left;
    list-style-type: none;
    li {
      padding: 0.2em 0.5em;
      display: inline;
      margin-right: 1em;
    }
  }
  ul.left-tertiary-nav {
    .fa {
      color: fade(@color-text,40%);
      font-size: 1.3em;
    }
  }
  ul.right-tertiary-nav {
    float: right;
    margin-left: 1em;
    li {
      border-radius: 3px;
      border: 1px solid fade(@color-flocab-blue, 30%);
      &:first-child {
        border: 0;

      }
    }
  }
}
header.main-header {
  margin: 0.6em 0;
  background-color: @color-goodGreen;
  size: 2em;
  color: @header-font-color;
  padding: 1em 3em;
  span.header-breadcrumbs {
    color: fade(white, 50%);
    .subtle-text-shadow();
  }
  h1 {
    font-weight: 800;
    margin: 0.2em 0;
    color: @header-font-color;

  }
}
.main-content {
  margin-top: 1.8em;
}
.left-menu {
  background-color: @left-menu-bg;
  padding: 1em 0;
  ul {
    //display: table;
    list-style-type: none;
    //box-sizing:border-box;
    //-moz-box-sizing:border-box;
    //-webkit-box-sizing:border-box;
    li {
      cursor: pointer;
      //display: table-cell;
      font-weight: 600;
      size: 1em;
      padding-left: 2em;
      line-height: 2.2em;
      &:hover {
        background-color: darken(@left-menu-bg, 5%);
      }
    }
  }
  hr {
    margin: 0.7em 0;
    border-top: 2px solid lighten(silver, 10%);;
  }
}

.image-wrapper {
  figure {
    display: table;
    width: 1px;
  }
  img, figcaption {
    display: table-row;
  }
}

.video-playback {
  width: image-width('../images/video-playback.png');
  height: image-height('../images/video-playback.png');
  background-image: url('../images/video-playback.png');
  margin-bottom: 2em;
}

.right-panel {
  .meta-details {
    transform-style: preserve-3d;
    span.image-browser {
      .fa {
        margin: 0 0.2em;
        font-size: 3em;
        color: @color-flocab-blue;
      }
    }
    span.pagination {
      margin-left: 0.5em;
      .vertical-align-anything;
      transform: translateY(-50%);
    }
  }
  figcaption {
    font-style: italic;
    margin: 0.2em 0;
  }
  button {
    position: absolute;
    right: 0;
    .toggleFullScreenButton;

  }
}
// override bootstrap
.btn {
  &:hover {
    margin-top: 0;
  }
}
.expanded-view {
  button {
    position: fixed;
    top: 50%;
    right: 2em;
    .toggleFullScreenButton;
  }
}

.lyrics-text {
  a {
    color: @color-flocab-blue;
    font-weight: 700;
    border-bottom: 2px solid fade(@color-flocab-blue, 30%);
  }
  a:hover {
    border-bottom: 2px solid darken(@color-flocab-blue, 10%);

  }
}
